/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-size: 14px;
  font-feature-settings: "kern" 1;
  text-align: center;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

.meta a {
  color: #00a;
  text-decoration: underline;
}

p a {
  color: #00a;
  text-decoration: underline;
}

a:hover {
  color: black;
}

/*a:visited {
  color: #a0a;
}*/

table {
  font-size: inherit;
  font: 100%;
}

.highlight {
  border: 1px solid #dbdbdb;
  background-color: #FFFFFF;
  border-radius: 3px;

  overflow-y: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 0.3em solid #ccc;
  margin: 1.5em 1.5em;
  padding: 0.5em 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Thinking
/*
/*****************************************************************************/

ul.thinking {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.thinking li {
  line-height: 1.35em;
}

ul.thinking span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  margin: auto auto auto auto;
  line-height: 1.5em; 
  max-width: 42em;
  padding: 0% 8% 4% 6%;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.site .title a {
  color: #a00;
  text-decoration: none;
  flex: 0 0 auto;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 0.1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/* 在屏幕宽度小于800px时，隐藏tab% */
@media (max-width: 800px) {
  #home_tab_list {
    display: none;
  }
}

/* 在屏幕宽度小于600px时，子元素的间距为10% */
@media (max-width: 600px) {
  .title a {
    margin-right: 3%;
  }
}

/* 在屏幕宽度大于600px时，子元素的间距为20px */
@media (min-width: 601px) {
  .title a {
    margin-right: 20px;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

/* standard */

#post pre {
  border: 1px solid #ddd;
  background-color: #FFFFFF;
  padding: 0.4em;
  overflow-x: auto;
  /* 去除滑轨 */
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  background-color: #FFFFFF;
  font-size: 85%;
  /* padding: 0.2em; */
}

/* 针对带有 highlighter-rouge 类的 <code> 标签设置样式 */
#post code.highlighter-rouge {
  background-color: #f5f5f5; /* 设置背景颜色 */
  color: red; /* 设置字体颜色为红色 */
  font-family: Consolas, "Courier New", monospace; /* 设置字体 */
  border-radius: 4px; /* 设置圆角 */
  padding: 0.2em 0.4em; /* 设置内边距 */
}

#post pre code {
  border: none;
}

#post img {
  max-width: 42em;
  padding: 1em 0;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

#post h2:before {
    content: "#";
    font-size: 110%;
    color: #999;
    line-height: 0;
    display: inline-block;
    margin: 0 0.1em 0 0;
}

#post h3:before {
  content: "##";
  font-size: 100%;
  color: #999;
  line-height: 0;
  display: inline-block;
  margin: 0 0.1em 0 0;
}

/*****************************************************************************/
/*
/* Thinking
/*
/*****************************************************************************/

#thinking {

}

#thinking pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#thinking img {
  /* max-width: 42em; */
  padding: 1em 0;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*****************************************************************************/
/*
/* Travel
/*
/*****************************************************************************/

#travel {

}

/* standard */

#travel pre {
  border: 1px solid #ddd;
  background-color: #FFFFFF;
  padding: 0.4em;
  overflow-x: auto;
  /* 去除滑轨 */
}

#travel ul,
#travel ol {
  margin-left: 1.35em;
}

#travel code {
  background-color: #FFFFFF;
  font-size: 85%;
  /* padding: 0.2em; */
}

#travel pre code {
  border: none;
}

#travel img {
  max-width: 42em;
  padding: 1em 0;
}

#travel h2:before {
    content: "#";
    font-size: 120%;
    color: #999;
    line-height: 0;
    display: inline-block;
    margin: 0 0.3em 0 0;
}

/*****************************************************************************/
/*
/* Read
/*
/*****************************************************************************/

#read {

}

/* standard */

#read pre {
  border: 1px solid #ddd;
  background-color: #FFFFFF;
  padding: 0.4em;
  overflow-x: auto;
  /* 去除滑轨 */
}

#read ul,
#read ol {
  margin-left: 1.35em;
}

#read code {
  background-color: #FFFFFF;
  font-size: 85%;
  /* padding: 0.2em; */
}

#read pre code {
  border: none;
}

#read img {
  max-width: 42em;
  padding: 1em 0;
}

#read h2:before {
    content: "#";
    font-size: 120%;
    color: #999;
    line-height: 0;
    display: inline-block;
    margin: 0 0.3em 0 0;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

/* 侧边栏 */
#diy_right_menu {
  opacity: 1;
  position: fixed;
  right: 2%;
  top: 2%;
  width: 23em;
  margin-top: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 0;
  color: black;
  border-radius: 5%;
}


#diy_right_menu ul {
  text-indent: 0rem;
  padding-left: 0.5rem;
}

#diy_right_menu li::before {
  font-weight: bolder;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
}

#diy_right_menu a {
  color: black;
  background-color: white;
}

@media (max-width: 800px) {
  #diy_right_menu {
    display: none;
  }
}