---
layout: default
title: Life
---

<div id="home">
    <h1>Read</h1>
    <ul class="posts">
        {% for post in site.read_collection reversed %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <h1>Travel</h1>
    <ul class="posts">
        {% for post in site.travel_collection reversed %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>