---
layout: default
---

<!-- 用于categroy_travel 下面的 travel显示格式 layout -->

<div id="home">

    <h1>{{ page.category }}</h1>
    {% assign til = site.travel_collection %}
    {% assign categories =  til | map: 'categories' | join: ',' | split: ',' | group_by: category | sort: "name" %}
    {% for category in categories %}
        {% if category.name == page.category %}
            {% assign posts = til | where: "categories", category.name | sort: "date" | reverse  %}
            
            {% for post in posts %}
            <li>
                <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        {% endif %}
    {% endfor %}

</div>