<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <style> 
   @font-face
   {
   font-family: myFirstFont;
src: url('/css/fangzheng.TTF');
}

div
{
font-family:myFirstFont;
}
</style>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Imekaku's Blog</a>
    <a class="extra" href="http://www.imekaku.com">home</a>
    <a class="extra" href="http://blog.imekaku.com/category">category</a>
    <a class="extra" href="https://github.com/imekaku">github</a>
  </div>

  {{ content }}

</div>

</body>
</html>

